*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.App{
  background: url('../public/images/bg-intro-desktop.png') hsl(0, 100%, 74%) ;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 50px 150px 50px 100px;
  color: white;
}
.attribution 
{ 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}